<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Moviews</title>
    <link rel="shortcut icon" type="image/png" href="../../imgfavicon.png"/>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'></script>
  <link rel='stylesheet' type='text/css' href='/css/styles.css'></link>
  </head>
  <body>
    <nav class='navbar navbar-default'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/home'>Moviews</a>
      </div>
      <% if (!currentUser) { %>
        <div class='navbar-item auth'>
          <a class='nav-link' href='/register'>Sign Up</a>
        </div>
        <div class='navbar-item auth'>
          <a class='nav-link' href='/'>Login</a>
        </div>
      <% } else { %>
        <div class='navbar-item auth'>
          <a class='nav-link' href='/logout'>Logout</a>
        </div>
        <div class='navbar-item auth'>
          <a class='nav-link' href='/home/<%= currentUser._id %>'>
            <%= currentUser.username %>
          </a>
        </div>
      <% } %>
    </nav>
