<% include partials/header %>
<div id='main'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-4' id='homepage-main'>
        <form method='POST' action='/search' style='display: grid'>
          <input id='movie-search' type='text' placeholder="Search for a movie" name='movie'></input>
          <button class='btn btn-success btn-lg'>Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
