<% include partials/header %>
<div class='container'>
  <div class='row'>
    <div id='login'>
      <h1>Log In</h1>
      <form method='POST' action='/'>
        <input type='text' placeholder="username" name='username'>
        <input type='password' placeholder="password" name='password'>
        <button class='btn btn-primary btn-sm'>Submit</button>
      </form>
    </div>
  </div>
</div>
<% include partials/footer %>
