<% include partials/header %>
<div class='container'>
  <h1><%= user.username %></h1>
  <table>
    <tbody>
      <tr>
        <th>
          Title
        </th>
        <th>
          Rating
        </th>
      </tr>
      <% for (i=0; i<list.movies.length; i++) { %>
        <tr>
          <td><%= list.movies[i].title %></td>
          <td><%= list.movies[i].rating %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% include partials/footer %>
