<% include partials/header %>
<div class='container'>
  <div class='row'>
    <form method='POST' action='/register'>
      <input type='text' placeholder="username" name='username'>
      <input type='password' placeholder="password" name='password'>
      <button class='btn btn-primary btn-sm'>Submit</button>
    </form>
  </div>
</div>
<% include partials/footer %>
