html {
  height: 100%;
}

a {
  color: white;
}

body {
  height: 100%;
  width: 100%;
  background-color: #d8d8d8;
}

/*
HEADER
*/

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.navbar-item.auth {
    float: right;
    padding: 15px;
}



.navbar-item.auth a:hover {
  text-decoration: none;
  color: #5e5e5e;
}

.navbar {
  margin: 0;
}



/*
LOGIN
*/

#login {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.no-display-input {
  display: none;
}

/*
HOMEPAGE
*/

#homepage-main {
  margin: 15% auto;
  text-align: center;
  float: none;
}

#main {
  height: 100%;
  width: 100%;
  background: url(../img/homepage-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#movie-search {
  border-radius: 0.5em;
  border: none;
  outline: none;
  padding: 2%;
  background: #adadad;
}

#movie-search::placeholder {
  color: white;
  opacity: 1;
}

#movie-search:hover {
  background: #c9c5c5
}

#movie-search:focus {
  background: white;
}

#movie-search:focus::placeholder {
  color: #c9c5c5;
  opacity: 1;
}

/*
SEARCH RESULTS
*/

#search-results {
  width: 80%;
  margin: 2% auto;
  background: white;
  border-radius: 0.5em;
  padding: 2%;
  padding-top: 0;
  border: 1px solid #d3d3d3;
}

#search-results h1 {
  padding-bottom: 1%;
  border-bottom: 1px solid #eaeaea;
}

.movie-title {
  background: none;
  border: none;
  outline: none;
  padding: 1%;
  border-radius: 0.5em;
}

.movie-title:hover {
  background: #e5e5e5;
}

/*
MOVIE-SHOW-PAGE
*/

#movie-show-page {
  margin-top: 2%;
  background: white;
  border-radius: 0.5em;
  padding: 2%;
  padding-top: 0;
  padding-top: 0;
  border: 1px solid #d3d3d3;
}

#movie-show-page h1 {
  padding-top: 0;
  padding-bottom: 1%;
  border-bottom: 1px solid #eaeaea;
}

#movie-show-page p {
  margin-top: 2%;
}

/*
PROFILE PAGE
*/

#profile {
  margin: 5% auto;
  background: white;
  border-radius: 0.5em;
  display: table;
  padding: 2%;
  padding-top: 0;
  min-width: 50%;
}

#profile table {
  margin-left: 25%;
  text-align: none;
}

#profile h1 {
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1%;
}

.list-title {
  padding-right: 1%;
}

.profile-table-header {
  cursor: pointer;
}

.profile-table-header:hover {
  color: #5e5e5e;
}

/*
LOGIN + REGISTER
*/

.user-form {
  margin: 2% auto;
  background: white;
  border-radius: 0.5em;
  padding: 2%;
  padding-top: 0;
  padding-top: 0;
  border: 1px solid #d3d3d3;
  width: 80%;
}

.user-form h1 {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1%;
  text-align: center;
}

.user-form form {
  display: grid;
}

.user-form input {
  border-radius: 0.5em;
  border: 1px solid white;
  outline: none;
  padding: 2%;
  background: #adadad;
  margin-bottom: 2%;
}

.user-form input::placeholder {
  color: white;
  opacity: 1;
}

.user-form input:hover {
  background: #c9c5c5
}

.user-form input:focus {
  background: white;
  border: 1px solid #efefef;
}

.user-form input:focus::placeholder {
  color: #c9c5c5;
  opacity: 1;
}
